.country-detail {
    .panel {
        .panel-block {
            position: relative;
            .tag {
                position: absolute;
                right: 10px;
            }
        }
    }
}
