img {
    &.emoji {
        height: 1em;
        width: 1em;
        margin: 0 .05em 0 .1em;
        vertical-align: -0.1em;
    }
}

@media screen and (max-width: 1087px) {
    .navbar-menu {
        .navbar-end {
            .navbar-item {
                a {
                    padding-bottom: 32px;
                    &.button {
                        background-color: $danger;
                    }
                }
            }
        }
    }
}
