.main-benfica-logo {
  img {
    width: 150px;
    margin-bottom: 10px;
  }
  text-align: center;
}

.homepage-hero {
  margin-top: -52px;
  background: url('../images/background-restaurant.jpeg') no-repeat;
  background-size: cover;
}
