body {
    padding-bottom: 50px;
}

nav {
    &.navbar {
        margin-bottom: 25px;
    }
}

.welcome-page {
    h2 {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .benfica-header-logo {

        text-align: center;

        img {
            width: 150px;
            margin-bottom: 20px;
        }
    }

    a.submit-spot-button {
        cursor: pointer;
    }

    .last-submissions {
        margin-bottom: 30px;
    }

    @media(min-width: 765px) {
        .last-submissions .last-submission-entry:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    .submit-spot-container {
        text-align: center;
    }
}
