nav {
    &.navbar {
        margin-bottom: 35px;
        background-color: $materialize-red !important;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

        a.navbar-brand {
            color: white;

            &:hover, &:focus {
                color: white;
            }
        }

        .navbar-toggler {
            border-color: rgba(255,255,255, 0.8);

            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
        }

        li {
            &.nav-item {

                &.nav-item:not(:last-child) {
                    margin-right: 30px;
                }

                a {
                    &.nav-link {
                        &:hover {
                            color: white;
                        }

                        color: white;
                    }
                }
            }
        }
    }
}
