.spot-detail {
    @media(max-width: 765px) {
        .image-map-container {
            height: 450px;
            margin-top: 20px;
        }
    }
    .image-map-container {
        .render-placeholder-image {
            img {
                max-width: 90%;
            }

            text-align: center;
        }

        .placeholder-image {
            height: 100%;
            background-size: cover;
            border-radius: 5px;
        }

        .tab-content {
            height: 100%;

            .tab-pane {
                height: 100%;
            }
        }
    }

    h2 {
        margin-bottom: 0;
    }
}
