.spot-detail {
    @media(max-width: 765px) {
        .image-map-container {
            height: 450px;
        }
    }
    .image-map-container {
        .render-placeholder-image {
            img {
                max-width: 90%;
            }

            text-align: center;
        }

        .placeholder-image {
            height: 100%;
            background-size: cover;
            border-radius: 5px;
        }
    }
}
